.button8{
    display:inline-block;
    padding:0.2em 1.45em;
    margin:0.1em;
    border:0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Segoe UI','Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
    }
    .button8:hover{
    border-color:#7a7a7a;
    }
    .button8:active{
    background-color:#999999;
    }

.campo {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
   

}